<div>
  <h1>Hello from partials</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, facilis
    velit at blanditiis corrupti aliquid et numquam reprehenderit inventore,
    tenetur ab perspiciatis eos perferendis unde quas doloribus quaerat ullam
    nisi?</p>
</div>